.layout__login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: auto;
    z-index: 1000;

    background-color: var(--color-black-off);
}

@media (--media-wide) {
    .layout__login {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (--media-desktop) {
    .layout__app__body {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }

    .layout__app__body__container {
        position: relative;
        flex-grow: 1;
        max-width: calc(calc(100vw - var(--width-menu)) - 1rem);
    }
}

@media (--media-sidebar-enabled) {
    .layout__app__sidebar_single .layout__app__body__container {
        padding-right: var(--width-sidebar-single);
    }

    .layout__app__sidebar_double .layout__app__body__container {
        padding-right: var(--width-sidebar-double);
    }
}
