.layout__login {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1000;

    background-color: var(--color-black-off);

    overflow: auto;
}

@media (--media-desktop) {
    .layout__login {
        justify-content: center;
        display: flex;
        align-items: flex-start;
    }

    .layout__app {
        display: flex;
        flex-direction: row-reverse;
    }

    .layout__app__main {
        width: calc(100% - var(--width-menu));
    }

    .layout__app__menu {
        width: var(--width-menu);

        position: fixed;
        left: 0;

        height: 100%;
        overflow-y: auto;
    }
}

@media (--media-tablet) {
    .layout__app__main {
        margin-top: 5.5rem;
    }
}

@media (--media-shallow) {
    .layout__app__main {
        margin-top: 7rem;
    }
}
