.layout__login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: auto;
    z-index: 1000;

    background-color: var(--color-black-off);
}

@media (--media-wide) {
    .layout__login {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (--media-desktop) {
    .layout__app__container {
        position: relative;
        margin-left: var(--width-menu);
    }
}

@media (--media-tablet) {
    .layout__app__container {
        margin-top: 5rem;
    }
}

@media (--media-shallow) {
    .layout__app__container {
        margin-top: 7rem;
    }
}

@media (--media-sidebar-enabled) {
    .layout__app__sidebar_single .layout__app__container {
        padding-right: var(--width-sidebar-single);
    }

    .layout__app__sidebar_double .layout__app__container {
        padding-right: var(--width-sidebar-double);
    }

    .layout__app__sidebar_single .layout__app__main .layout__app__sidebar__largeElement::after {
        content: "-";
        position: absolute;
        left: 100%;
        width: calc(var(--width-sidebar-single) + 0.5rem);
        visibility: hidden;
    }

    .layout__app__sidebar_double .layout__app__main .layout__app__sidebar__largeElement::after {
        content: "-";
        position: absolute;
        left: 100%;
        width: calc(var(--width-sidebar-double) + 0.5rem);
        visibility: hidden;
    }
}
