export APP_ROOT=$(pwd)

export DOCKER_WRAPPER_UPDATE_EXPIRE=7days

export DOCKER_WRAPPER_IMAGE_node=getto/base:7WcItF2l

export DOCKER_WRAPPER_SERVER_OPTS_npmserver="-p ${LABO_PORT_PREFIX}80:8080"

export DOCKER_WRAPPER_APP_TARGET=npmserver
