export APP_ROOT=$(pwd)
export PUBLIC_PORT=80
set-window-title $(basename $APP_ROOT):${PUBLIC_PORT}

export PUBLIC_APP_PORT=8080

export DOCKER_WRAPPER_RC=$APP_ROOT/.docker-wrapper.rc
export DOCKER_WRAPPER_APP_TARGET=npm-server

export TLS_CERT=$HOME/.letsencrypt/live/$USER.dev.getto.systems/fullchain.pem
export TLS_KEY=$HOME/.letsencrypt/live/$USER.dev.getto.systems/privkey.pem
