export APP_ROOT=$(pwd)
export PUBLIC_PORT=80
export STORYBOOK_PORT=60
set-window-title $(basename $APP_ROOT):${PUBLIC_PORT}

export PUBLIC_APP_PORT=8080

export DOCKER_WRAPPER_RC=$APP_ROOT/.docker-wrapper.sh
export DOCKER_WRAPPER_APP_TARGET=npm-server

export STORAGE_KEY_MENU_EXPAND_MAIN="GETTO-EXAMPLE-MENU-EXPAND-MAIN"
export STORAGE_KEY_MENU_EXPAND_DOCUMENT="GETTO-EXAMPLE-MENU-EXPAND-DOCUMENT"
