/tmp/
/node_modules/

/storybook/node_modules/
/storybook/lib/
/storybook/css/

/theme/public/dist/coverage/

/theme/artifact/dist/**/*.css
/theme/public/dist/**/*.js

**/y_static/*
!**/y_static/.keep
