.button__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.button__container + .button__container {
    margin-top: var(--content-vertical-space-small);
}

.button__container_center {
    justify-content: center;
}

.button_left .button {
    margin-right: 0.25rem;
}

.button_right {
    align-self: stretch;
    text-align: right;
}

.button_right .button {
    margin-left: 0.25rem;
}

.button {
    display: inline-block;
    cursor: pointer;

    font-size: var(--font-size-smaller);

    padding: calc(0.1875em - 2px) 1.5em;
    border: 1px solid transparent;
    border-radius: 0.3em;

    vertical-align: middle;
    white-space: nowrap;
}

.button_edit,
.button_delete,
.button_complete,
.button_warning,
.button_pending,
.button_undo,
.button_redo,
.button_cancel {
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-black-off);
}

.button_disabled {
    cursor: not-allowed;
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-black-alpha);
}

.button_connect {
    cursor: wait;
}

.button_edit:hover,
.button_edit:focus {
    color: var(--color-white);
    border-color: var(--color-base);
    background-color: var(--color-base);
}

.button_edit.button_confirm,
.button_edit.button_connect {
    color: var(--color-white);
    border-color: var(--color-base);
    background-color: var(--color-base);
}

.button_edit.button_confirm:hover,
.button_edit.button_confirm:focus {
    color: var(--color-base);
    border-color: var(--color-base);
    background-color: var(--color-white-pure);
}

.button_delete:hover,
.button_delete:focus {
    color: var(--color-white);
    border-color: var(--color-alert);
    background-color: var(--color-alert);
}

.button_delete.button_confirm,
.button_delete.button_connect {
    color: var(--color-white);
    border-color: var(--color-alert);
    background-color: var(--color-alert);
}

.button_delete.button_confirm:hover,
.button_delete.button_confirm:focus {
    color: var(--color-alert);
    border-color: var(--color-alert);
    background-color: var(--color-white-pure);
}

.button_complete:hover,
.button_complete:focus {
    color: var(--color-white);
    border-color: var(--color-success);
    background-color: var(--color-success);
}

.button_complete.button_confirm,
.button_complete.button_connect {
    color: var(--color-white);
    border-color: var(--color-success);
    background-color: var(--color-success);
}

.button_complete.button_confirm:hover,
.button_complete.button_confirm:focus {
    color: var(--color-success);
    border-color: var(--color-success);
    background-color: var(--color-white-pure);
}

.button_warning:hover,
.button_warning:focus {
    color: var(--color-white);
    border-color: var(--color-warning);
    background-color: var(--color-warning);
}

.button_warning.button_confirm,
.button_warning.button_connect {
    color: var(--color-white);
    border-color: var(--color-warning);
    background-color: var(--color-warning);
}

.button_warning.button_confirm:hover,
.button_warning.button_confirm:focus {
    color: var(--color-warning);
    border-color: var(--color-warning);
    background-color: var(--color-white-pure);
}

.button_pending:hover,
.button_pending:focus {
    color: var(--color-white);
    border-color: var(--color-pending);
    background-color: var(--color-pending);
}

.button_pending.button_confirm,
.button_pending.button_connect {
    color: var(--color-white);
    border-color: var(--color-pending);
    background-color: var(--color-pending);
}

.button_pending.button_confirm:hover,
.button_pending.button_confirm:focus {
    color: var(--color-pending);
    border-color: var(--color-pending);
    background-color: var(--color-white-pure);
}

.button_cancel:hover,
.button_cancel:focus {
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-white-pure);
}

.button_undo:hover,
.button_undo:focus {
    color: var(--color-alert);
    border-color: var(--color-alert);
    background-color: var(--color-white-pure);
}

.button_redo:hover,
.button_redo:focus {
    color: var(--color-base);
    border-color: var(--color-base);
    background-color: var(--color-white-pure);
}
