.field__title {
    font-size: var(--font-size-small);
    margin-bottom: 0.375em;
}

.field__body {
    margin-left: 1em;
    margin-bottom: var(--content-vertical-space-small);
    overflow-x: auto;
}

.field__help {
    font-size: var(--font-size-small);
    margin-left: 0.5em;
    margin-top: 0.375em;
}

.field__help p {
    margin-top: 0;
}

.field_error .field__title,
.field_error .field__notice {
    color: var(--color-alert);
}

.field_error :--input {
    border-color: var(--color-alert);
    background-color: var(--color-alert-off);
}

.field_warning .field__title,
.field_warning .field__notice {
    color: var(--color-warning);
}

.field_warning :--input {
    border-color: var(--color-warning);
    background-color: var(--color-warning-off);
}
