.form__title {
    font-size: var(--font-size-small);
    margin-bottom: 0.375em;
}

.form__body {
    margin-left: 1em;
    margin-bottom: var(--content-vertical-space-small);
    overflow-x: auto;
}

.form__help {
    font-size: var(--font-size-small);
    margin-left: 0.5em;
    margin-top: 0.375em;
}

.form__help p {
    margin-top: 0;
}

.form_error .form__title,
.form_error .form__notice {
    color: var(--color-alert);
}

.form_error :--input {
    border-color: var(--color-alert);
    background-color: var(--color-alert-off);
}

.form_warning .form__title,
.form_warning .form__notice {
    color: var(--color-warning);
}

.form_warning :--input {
    border-color: var(--color-warning);
    background-color: var(--color-warning-off);
}
