@custom-selector :--input-text input[type="text"], input[type="password"], input[type="search"];
@custom-selector :--input
    :--input-text,
    textarea,
    input[type="number"],
    input[type="tel"],
    input[type="email"],
    input[type="date"],
    input[type="time"],
    input[type="file"],
    select;

:--input {
    border: 1px solid var(--color-base);
    font-size: var(--font-size-normal);
    padding: calc(0.3em - 1px) 0.5em;
}

textarea {
    padding: calc(0.375em - 1px) 0.5em;
}

input[type="date"] {
    padding: calc(0.225em - 1px) 0.5em;
}

input[type="time"] {
    padding: calc(0.2em - 1px) 0.5em;
}

input[type="file"] {
    background-color: var(--color-white-pure);
    font-size: var(--font-size-smaller);
    width: calc(100% - 1.25rem);
    padding: calc(0.1565em - 1px) 0.5em;
}

select {
    padding: calc(0.275em - 1px) 0.5em;
    max-width: calc(100% - 0.1rem);
}

select,
input[type="date"],
input[type="time"],
input[type="file"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

:--input-text {
    width: var(--width-input-normal);
}

:--input-text.input_small {
    width: var(--width-input-small);
}

:--input-text.input_medium {
    width: var(--width-input-medium);
}

:--input-text.input_large {
    width: var(--width-input-large);
}

input[type="tel"] {
    width: var(--width-input-normal);
}

input[type="number"] {
    appearance: textfield;
    width: var(--width-input-small);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

input[type="number"].input_small {
    width: var(--width-input-tiny);
}

input[type="email"] {
    width: var(--width-input-medium);
}

input[type="email"].input_small {
    width: var(--width-input-normal);
}

textarea {
    width: var(--width-input-large);
}

textarea.input_small {
    width: var(--width-input-medium);
}

textarea.input_medium {
    width: var(--width-input-x-large);
}

textarea.input_fill,
input[type="text"].input_fill,
input[type="password"].input_fill,
input[type="search"].input_fill,
input[type="email"].input_fill {
    width: calc(100% - 1.5rem);
}

input[type="search"].input_fill {
    width: calc(100% - 0.1rem);
}

.input__radio,
.input__checkbox {
    display: inline-block;

    border: 1px dashed transparent;
    cursor: pointer;

    padding: calc(0.15em - 1px) 0.6em calc(0.05em - 1px) 0.4em;
    margin: 0.05em 0;
}

.input__radio_block + .input__radio_block,
.input__checkbox_block + .input__checkbox_block {
    margin-top: var(--content-vertical-space-tiny);
}

.input__radio:hover,
.input__radio:focus,
.input__radio.input_checked,
.input__checkbox:hover,
.input__checkbox:focus,
.input__checkbox.input_checked {
    border-color: var(--color-base);
    background-color: var(--color-white-pure);
}

.input__radio input[type="radio"],
.input__checkbox input[type="checkbox"] {
    margin-right: 0.4rem;
    vertical-align: text-top;
}

.input__radio.input__radio_block,
.input__checkbox.input__checkbox_block {
    display: block;
}
