.search {
    width: var(--width-search);
    margin-right: 0.25rem;
}

.search_double {
    width: var(--width-search-double);
    margin-right: 0.25rem;
}

.search__column {
    display: flex;
    flex-wrap: wrap;
}
