body {
    color: var(--color-black);
    background-color: var(--color-black-off);
    font-size: var(--font-size-normal);
    line-height: 1.4;
}

.content + .content,
p + p {
    margin-top: var(--content-vertical-space-small);
}

.content_overflow {
    overflow-x: auto;
}

.linky,
a {
    display: inline-block;
    text-align: left;

    text-decoration: none;

    font-size: var(--font-size-smaller);

    padding: 0.07em 0.75em;
    border: 1px dotted transparent;
    border-radius: 0.5rem;

    vertical-align: middle;
}

a {
    color: var(--color-base);
}

a:hover,
a:focus {
    color: var(--color-base);
    border-color: var(--color-base);
    background-color: var(--color-white-pure);
}

small {
    font-size: var(--font-size-smaller);
}

big {
    font-size: var(--font-size-larger);
}

strong {
    font-weight: bold;
}

hr {
    border-top: 1px solid var(--color-black);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

pre {
    font-family: monospace;
}
