:root {
    --font-size-xx-large: calc(var(--font-size-x-large) * 1.25);
    --font-size-x-large: calc(var(--font-size-large) * 1.25);
    --font-size-large: calc(var(--font-size-normal) * 1.25);
    --font-size-normal: 20px;
    --font-size-small: calc(var(--font-size-normal) / 1.25);

    --font-size-larger: 125%;
    --font-size-smaller: 80%;

    --width-menu: 18rem;
    --width-box: 23rem;
    --width-box-double: calc(47.5rem + 2px);
    --width-search: 16rem;
    --width-search-double: calc(32.25rem);

    --width-sidebar-single: var(--width-box);
    --width-sidebar-double: var(--width-box-double);

    --width-input-tiny: 2em;
    --width-input-small: 6em;
    --width-input-normal: 10em;
    --width-input-large: 14em;
    --width-input-x-large: 20em;
    --width-input-xx-large: 28em;

    --content-vertical-space-tiny: calc(var(--content-vertical-space-small) / 2);
    --content-vertical-space-small: 0.7em;
    --content-vertical-space-medium: calc(var(--content-vertical-space-small) * 2);
    --content-vertical-space-large: calc(var(--content-vertical-space-medium) * 2);

    --table-header-height: 1.7em;
}
