.table__viewColumns {
    display: flex;
    flex-wrap: wrap;
}

.table {
    border-collapse: separate;
    background-color: var(--color-white);
    margin-bottom: 0.5rem;
}

.table_fill {
    width: 100%;
}

.table_small {
    font-size: var(--font-size-smaller);
}

.table th {
    font-weight: bold;
    font-size: var(--font-size-small);
    padding: 0.1em 0.25em;
    white-space: nowrap;
    text-align: left;
}

.table td {
    padding: 0.2em 0.5em;
    white-space: nowrap;
}

.cell_left {
    text-align: left;
}

.cell_center {
    text-align: center;
}

.cell_right {
    text-align: right;
}

.cell_numeric {
    text-align: right;
}

.cell_border_t {
    border-top: 1px solid var(--color-black);
}

.cell_border_tt {
    border-top: 3px double var(--color-black);
}

.cell_border_b {
    border-bottom: 1px solid var(--color-black);
}

.cell_border_bb {
    border-bottom: 3px double var(--color-black);
}

.cell_border_l {
    border-left: 1px solid var(--color-black);
}

.cell_border_ll {
    border-left: 3px double var(--color-black);
}

.cell_border_r {
    border-right: 1px solid var(--color-black);
}

.cell_border_rr {
    border-right: 3px double var(--color-black);
}

.table_sticky {
    position: relative;
}

.cell_sticky {
    position: sticky;
    background-color: var(--color-white);
}

.cell_sticky_top {
    top: 0;
}

.cell_sticky_top2 {
    top: var(--table-header-height);
}

.cell_sticky_top3 {
    top: calc(var(--table-header-height) * 2);
}

.cell_sticky_top4 {
    top: calc(var(--table-header-height) * 3);
}

.cell_sticky_top5 {
    top: calc(var(--table-header-height) * 4);
}

.cell_sticky_top.cell_sticky_left,
.cell_sticky_top2.cell_sticky_left,
.cell_sticky_top3.cell_sticky_left,
.cell_sticky_top4.cell_sticky_left,
.cell_sticky_top5.cell_sticky_left {
    z-index: 1000;
}

.row_hover:hover td {
    background-color: var(--color-base-off);
}

@media (--media-desktop) {
    .cell_sticky_left {
        left: var(--width-menu);
    }
}

@media (--media-mobile) {
    .cell_sticky_left {
        left: 0;
    }
}
