.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid var(--color-black);
    padding: 0.5rem;

    margin-bottom: 0.5rem;

    background-color: var(--color-white);
}

.box_transparent {
    border-color: transparent;
    background-color: transparent;
}

.box_grow {
    flex-grow: 2;
}

.box__header {
    border-bottom: 1px solid var(--color-black);
    padding: calc(0.2em - 1px) 0.25rem;
    margin-bottom: var(--content-vertical-space-small);
}

.box__footer {
    border-top: 1px dotted var(--color-black);
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}

.box__message.box__message_right {
    text-align: right;
}

@media (--media-wide) {
    .box {
        margin-right: 0.5rem;
        width: var(--width-box);
    }

    .box.box_double {
        width: var(--width-box-double);
    }

    .box.box_fill {
        width: calc(100% - 1.6rem);
    }
}

@media (--media-shallow) {
    .box {
        width: calc(calc(100% - 1rem) - 2px);
    }
}
