.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    margin: 0;

    top: 0;
    bottom: 0;
    right: 0;

    background-color: var(--color-black-alpha);
    z-index: 3;
}

.modal__box {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);

    min-width: var(--width-box);
    padding: 0.5rem;
}

.modal__box_fixed {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);

    height: 80%;
    padding: 0.5rem;
}

.modal__header {
    margin-bottom: var(--content-vertical-space-small);
}

.modal__title {
    font-size: var(--font-size-large);

    border-bottom: 1px solid var(--color-black);
    padding: 0.36em 0.5em;
}

.modal__footer {
    border-top: 1px dotted var(--color-black);
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}

@media (--media-sidebar-enabled) {
    .layout__app__sidebar_single .modal__box_fixed {
        margin-right: var(--width-sidebar-single);
    }

    .layout__app__sidebar_double .modal__box_fixed {
        margin-right: var(--width-sidebar-double);
    }
}

@media (--media-desktop) {
    .modal {
        left: var(--width-menu);
        margin-top: 60px;
    }

    .modal__box_fixed {
        width: 80%;
    }

    .layout__app__sidebar_single .modal__box_fixed {
        width: 60%;
    }

    .layout__app__sidebar_double .modal__box_fixed {
        width: 30%;
    }
}

@media (--media-mobile) {
    .modal {
        left: 0;
    }

    .modal__box_fixed {
        width: 100%;
    }

    .layout__app__sidebar_single .modal__box_fixed {
        width: 80%;
    }

    .layout__app__sidebar_double .modal__box_fixed {
        width: 80%;
    }
}
