@media print {
    .app__header,
    .main__header,
    .main__footer,
    .sidebar,
    .menu,
    .box,
    .paper_hidden {
        display: none;
    }

    .container {
        display: block;
    }

    @page {
        margin: 0;
    }
}
