.report {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20mm;

    background-color: var(--color-white);
}

.report_a4_portrait {
    width: 165mm;
    height: 254mm;
}

.report__contentLimit {
    position: relative;
}

.report__contentLimit__mark {
    position: absolute;
    display: block;
}

.report_a4_portrait .report__contentLimit__mark {
    height: calc(254mm - 1.5em);
}

.report__header {
    margin-bottom: var(--content-vertical-space-small);
}

.report__title {
    font-size: var(--font-size-xx-large);
}

.report__title_small {
    font-size: var(--font-size-x-large);
}

.report__title_xSmall {
    font-size: var(--font-size-small);
}

.report__title_center {
    text-align: center;
}

.report__footer {
    border-top: 1px dotted var(--color-black);
    padding-top: var(--content-vertical-space-tiny);
    margin-top: var(--content-vertical-space-tiny);
}

.report__folio__container {
    display: flex;
    justify-content: space-between;
}

.report__folio {
    font-size: var(--font-size-small);
}

.report__folio_left .report__folio {
    margin-right: 0.25rem;
}

.report__folio_right .report__folio {
    margin-left: 0.25rem;
}

.report .cell_border_t {
    border-top: 1pt solid var(--color-black);
}

.report .cell_border_tt {
    border-top: 2pt solid var(--color-black);
}

.report .cell_border_b {
    border-bottom: 1pt solid var(--color-black);
}

.report .cell_border_bb {
    border-bottom: 2pt solid var(--color-black);
}

.report .cell_border_l {
    border-left: 1pt solid var(--color-black);
}

.report .cell_border_ll {
    border-left: 2pt solid var(--color-black);
}

.report .cell_border_r {
    border-right: 1pt solid var(--color-black);
}

.report .cell_border_rr {
    border-right: 2pt solid var(--color-black);
}

@media screen {
    .report {
        border: 1px solid var(--color-black);
        box-shadow: 0 0.5mm 2mm var(--color-black-off);
        margin-bottom: 0.5rem;
    }
}

@media print {
    .report {
        break-after: always;
        margin: 0;
    }
}
