.badge {
  display: inline-block;
  margin: 1px;
  padding: 0.5em 0.8em;
  border-radius: 0.3em;
  font-weight: normal;
  font-style: normal;
  vertical-align: 0.25em;

  &.is-small {
    font-size: var(--font-size-small);
  }

  &.is-gray {
    background-color: var(--color-bg-gray);
  }

  &.is-warning {
    color: var(--color-fg-white);
    background-color: var(--color-warning);
  }

  &.is-primary {
    color: var(--color-fg-white);
    background-color: var(--color-primary);
  }

  &.is-success {
    color: var(--color-fg-white);
    background-color: var(--color-success);
  }

  &.is-danger {
    color: var(--color-fg-white);
    background-color: var(--color-danger);
  }
}
