body {
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: var(--font-size-normal);
}

a {
  color: var(--color-base);
  text-decoration: none;

  padding: 0.1rem;
  border: 1px dotted transparent;
}

a:hover,
a:focus {
  color: var(--color-alert);
  border: 1px dotted var(--color-alert);
}

small {
  font-size: var(--font-size-smaller);
}

small._middle {
  vertical-align: 25%;
}

big {
  font-size: var(--font-size-larger);
}

hr {
  border-top: 1px solid var(--color-black);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

pre {
  font-family: monospace;
  line-height: 1.1;
}
