@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

:root {
  --border-radius-box: 0.3rem;

  --header-title: {
    margin-bottom: 0.3em;
    padding: 0.3em 0.2em 0.5em 0.2em;
    border-bottom: 1px solid var(--color-border-gray);
  }

  --bordered-box: {
    border: 1px solid var(--color-border-gray);
    border-radius: 0.2rem;
    margin: 0.25rem;
    padding: 0.5rem;
  }

  --footer-action: {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid var(--color-border-gray);
  }
}

body {
  color: var(--color-fg-gray);
  font-size: var(--font-size-medium);
  font-family: "Noto Sans JP", sans-serif;
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-danger);
  }
}

.display-none {
  display: none;
}
