.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid var(--color-black);
  padding: 0.5rem;

  margin-bottom: 0.5rem;

  background-color: var(--color-white);
}

.box.box_editing {
  background-color: var(--color-base-off);
}

.box__header {
  border-bottom: 1px solid var(--color-black);
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.box__footer {
  border-top: 1px dotted var(--color-black);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.box__message.box__message_right {
  text-align: right;
}

@media (--media-wide) {
  .box {
    margin-right: 0.5rem;
    width: var(--width-box);
  }

  .box.box_double {
    width: var(--width-box-double);
  }

  .box.box_fill {
    width: calc(100% - 1.2rem);
  }
}

@media (--media-phone) {
  .box {
    width: 100%;
  }

  .box.box_fill {
    width: calc(100% - 1.2rem);
  }
}
