.button__container {
  display: flex;
  justify-content: space-between;
}

.button_left {
  order: 1;
}

.button_right {
  order: 100;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--color-black);

  font-size: var(--font-size-small);
  padding: 0.15rem 0.5rem;
}

.button.button_edit {
  color: var(--color-black);
  border-color: var(--color-black);
  background-color: var(--color-black-off);
}

.button.button_edit:hover,
.button.button_edit:focus {
  color: var(--color-white);
  border-color: var(--color-base);
  background-color: var(--color-base);
}

.button.button_save,
.button.button_cancel {
  color: var(--color-black);
  border-color: var(--color-black);
  background-color: var(--color-black-off);
}

.button.button_save:hover,
.button.button_save:focus,
.button.button_cancel:hover,
.button.button_cancel:focus {
  color: var(--color-black);
  background-color: var(--color-white);
}

.button.button_save.button_modified {
  color: var(--color-white);
  border-color: var(--color-base);
  background-color: var(--color-base);
}

.button.button_save.button_modified:hover,
.button.button_save.button_modified:focus {
  color: var(--color-black);
  border-color: var(--color-base);
  background-color: var(--color-white);
}

.form_error .button.button_save.button_modified {
  color: var(--color-white);
  border-color: var(--color-alert);
  background-color: var(--color-alert);
  cursor: not-allowed;
}
