:root {
  --color-primary: #3261ab;
  --color-danger: #da5019;
  --color-warning: #edad0b;
  --color-success: #23ac0e;

  --color-fg-gray: gray(32);
  --color-fg-white: gray(240);
  --color-bg-gray: gray(224);
  --color-bg-white: gray(240);

  --color-border-gray: gray(128);
}
