section.dashboard {
  > dl {
    > dd {
      > section {
        display: block;
        color: var(--color-fg-gray);
        @apply --bordered-box;

        > h2 {
          font-size: var(--font-size-large);
          @apply --header-title;
        }

        > p {
          padding: 1.5em 0;
          text-align: center;

          > em {
            font-style: normal;
            font-size: var(--font-size-xxlarge);

            small {
              font-size: var(--font-size-xlarge);

              > small {
                font-size: var(--font-size-medium);
              }
            }
          }
        }

        > meter {
          display: block;
          width: 100%;
        }

        > footer {
          text-align: right;
          @apply --footer-action;
        }
      }
    }
  }
}

@media (--over-tablet) {
  section.dashboard {
    > dl {
      display: grid;
      grid-template-columns: repeat(auto-fill, var(--box-size));

      > dd.double {
        grid-column: span 2;
      }
    }
  }
}
@media (--tablet) {
  section.dashboard {
    > dl {
      justify-content: center;
    }
  }
}
