:root {
  --data-load-message: {
    font-size: var(--font-size-large);
    margin: 0.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
  }
}

.data-loading {
  @apply --data-load-message;
  background-color: var(--color-warning);
  color: var(--color-fg-white);
}

.data-empty {
  @apply --data-load-message;
  background-color: var(--color-bg-gray);
  color: var(--color-fg-gray);
}

.data-load-error {
  @apply --data-load-message;
  background-color: var(--color-danger);
  color: var(--color-fg-white);
}
