.document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid var(--color-black);
  box-shadow: 0 0.5mm 2mm var(--color-black-off);
  padding: 20mm;

  margin-bottom: 0.5rem;
}

.document.document_a4_portrait {
  width: 210mm;
  height: 297mm;
}

.document__header {
  margin-bottom: 0.5rem;
}

.document__title {
  font-size: var(--font-size-large);
  margin-bottom: 1em;
}

.document__title.document__title_center {
  text-align: center;
}

.document__footer {
  display: flex;
  justify-content: space-between;

  border-top: 1px dotted var(--color-black);
  padding-top: 2.5mm;
  margin-top: 2.5mm;
}

.document__folio {
  font-size: var(--font-size-small);
}
