.document {
  position: relative;

  &.a4.portrait {
    width: 210mm;
    height: 297mm;
  }

  padding: 20mm;

  > header {
    > h2 {
      font-size: var(--font-size-xlarge);
      text-align: center;
      margin-bottom: 0.5em;
    }

    > .stamps {
      text-align: right;

      > .vertical {
        display: inline-block;
        vertical-align: middle;
        writing-mode: vertical-rl;
      }

      > address {
        display: inline-block;
        vertical-align: middle;
        font-style: normal;

        > table {
          border-collapse: collapse;
          border: 1px solid var(--color-border-gray);

          th {
            font-size: var(--font-size-small);
            border: 1px solid var(--color-border-gray);
            text-align: center;
            line-height: 1.5em;
          }

          td {
            border: 1px solid var(--color-border-gray);
          }

          .stamp {
            display: inline-block;
            vertical-align: middle;
            height: 20mm;
            width: 20mm;
          }
        }
      }
    }
  }

  > section {
    > table,
    > div > table {
      margin: 0.5em 0;
      width: 100%;

      thead {
        border-top: 1px solid var(--color-border-gray);
        border-bottom: 3px double var(--color-border-gray);

        tr.border-top-single {
          border-top: 1px solid var(--color-border-gray);
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid var(--color-border-gray);

          &.border-bottom-double {
            border-bottom: 3px double var(--color-border-gray);
          }
        }
      }

      tfoot {
        border-bottom: 3px double var(--color-border-gray);
      }

      th {
        @apply --cell-classes;

        font-size: var(--font-size-small);
        padding: 0.5rem;
        vertical-align: middle;
      }

      td {
        @apply --cell-classes;

        padding: 0.25em 0.5em;
        vertical-align: top;
        line-height: 1.25em;
      }
    }
  }

  > footer {
    > address {
      position: absolute;
      bottom: 12mm;

      font-style: normal;

      &.is-left {
        left: 20mm;
        text-align: left;
      }

      &.is-right {
        right: 20mm;
        text-align: right;
      }
    }
  }
}

@media screen {
  .document {
    border: 1px solid var(--color-border-gray);
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    margin: 1em;
  }
}

@media print {
  .document {
    page-break-after: always;
  }
}
