.document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20mm;
}

.document.document_a4_portrait {
  width: 165mm;
  height: 254mm;
}

.document__header {
  margin-bottom: 0.5rem;
}

.document__title {
  font-size: var(--font-size-large);
  margin-bottom: 1em;
}

.document__title.document__title_center {
  text-align: center;
}

.document__footer {
  display: flex;
  justify-content: space-between;

  border-top: 1px dotted var(--color-black);
  padding-top: 2.5mm;
  margin-top: 2.5mm;
}

.document__folio {
  font-size: var(--font-size-small);
}

@media screen {
  .document {
    border: 1px solid var(--color-black);
    box-shadow: 0 0.5mm 2mm var(--color-black-off);
    margin-bottom: 0.5rem;
  }
}

@media print {
  .document {
    break-after: always;
    border: 1px solid var(--color-black);
    margin: 0;
  }
}
