section.edit {
  > section {
    > form {
      @apply --bordered-box;

      > h2 {
        @apply --header-title;
      }

      > table,
      > section > table {
        th {
          @apply --form-table-th;
        }

        td {
          @apply --form-table-td;
        }
      }

      > p {
        margin: 1em 0.5em;
      }

      > footer {
        @apply --footer-action;
      }

      button {
        @apply --button;
        @apply --button-gray-primary;

        &.is-connecting {
          @apply --button-primary-white;
        }

        &.is-save {
          @apply --button-primary;
        }

        &.is-complete {
          @apply --button-white-success;
        }

        &.is-delete {
          @apply --button-gray-danger;
        }

        &.is-cancel {
          @apply --button-gray;
        }
      }

      ul {
        list-style: none;
        margin: 0;

        &.is-inline {
          > li {
            display: inline-block;
          }
        }

        > li {
          margin: 0.5em;
        }
      }
    }
  }
}

@media (--over-tablet) {
  section.edit {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--box-size));
    grid-auto-flow: dense;

    > section {
      &.double {
        grid-column: span 2;
      }
    }

    > section > form > section {
      display: flex;
    }
  }
}
