@component editPage {
  @descendent title {
    font-size: var(--font-size-large);
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-border-gray);
  }
  @descendent box {
    border: 1px solid var(--color-border-gray);
    border-radius: 0.2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    overflow: hidden;

    @descendent title {
      font-weight: normal;
      border-bottom: 1px solid var(--color-border-gray);
      margin: 0.5rem 0;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
    }
  }
  @descendent action {
    border-top: 1px solid var(--color-border-gray);
    margin-top: 0.5rem;
    padding-top: 0.5rem;

    @descendent badge {
      display: inline-block;
      border-radius: 0.3rem;
      font-size: var(--font-size-small);
      padding: 0.3rem 0.7rem;

      @when connecting {
        background-color: var(--color-primary);
        color: var(--color-fg-white);
      }
      @when error {
        background-color: var(--color-danger);
        color: var(--color-fg-white);
      }
    }
  }
  @descendent status {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    @when gray {
      background-color: var(--color-bg-gray);
    }
    @when warning {
      color: var(--color-fg-white);
      background-color: var(--color-warning);
    }
    @when primary {
      color: var(--color-fg-white);
      background-color: var(--color-primary);
    }
    @when success {
      color: var(--color-fg-white);
      background-color: var(--color-success);
    }
  }
  @descendent button {
    @apply --form-button;

    @when edit {
      @apply --form-button-gray-primary;
    }
    @when save {
      @apply --form-button-gray;

      @when modified {
        @apply --form-button-primary;
      }
    }
    @when cancel {
      @apply --form-button-gray;
    }

    @when gray {
      @apply --form-button-gray-danger;

      @when large {
        font-size: var(--font-size-large);
      }
    }
    @when success {
      @apply --form-button-success;

      @when large {
        font-size: var(--font-size-large);
      }
    }
    @when warning {
      @apply --form-button-warning;

      @when large {
        font-size: var(--font-size-large);
      }
    }
    @when primary {
      @apply --form-button-primary;

      @when large {
        font-size: var(--font-size-large);
      }
    }
  }
  @descendent header {
    font-size: var(--font-size-small);
    font-weight: normal;
    padding: 0.5rem;
    white-space: nowrap;
  }
  @descendent cell {
    padding: 0.3rem;

    @when right {
      text-align: right;
    }
  }
  @descendent label {
    font-size: var(--font-size-small);
  }
  @descendent block-label {
    display: block;
    line-height: 1.4em;
  }
  @descendent field {
    font-size: var(--font-size-medium);
    border: 1px solid var(--color-border-gray);
    padding: 0.2rem 0.4rem;
    margin: 0.1rem;
    width: 12rem;

    @when tiny {
      width: 3rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }
    @when small {
      width: 8rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }
    @when large {
      width: 16rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }
    @when xlarge {
      width: 20rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }
    @when date {
      width: 10rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }
    @when time {
      width: 6rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }

    @when error {
      border-color: var(--color-danger);
    }
    @when warning {
      border-color: var(--color-warning);
    }

    @descendent error {
      font-size: var(--font-size-small);
      margin: 0.3rem 0.5rem 0.2rem 0.2rem;
      color: var(--color-danger);

      @when warning {
        color: var(--color-warning);
      }
    }
  }
  @descendent select {
    @apply --form-select;
    font-size: var(--font-size-medium);
    border: 1px solid var(--color-border-gray);
    padding: 0.1rem 0.5rem;
    margin: 0.1rem;
    width: 9rem;

    @when small {
      width: 7rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }
    @when large {
      width: 12rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }

    @when error {
      border-color: var(--color-danger);
    }
    @when warning {
      border-color: var(--color-warning);
    }
  }
}

@media (--all-mobile) {
  @component editPage {
    @descendent field {
      padding: 0.5rem;
    }
    @descendent select {
      padding: 0.5rem 1rem;
    }
    @descendent button {
      padding: 0.5rem 1rem;
    }
  }
}
@media (--medium) {
  @component editPage {
    lost-utility: clearfix;

    @descendent boxContainer {
      lost-column: 1/2 2 0;
    }
    @descendent boxContainer-2 {
      lost-column: 2/2 2 0;
    }
  }
}
@media (--large-desktop) {
  @component editPage {
    lost-utility: clearfix;

    @descendent boxContainer {
      lost-column: 1/3 3 0;
    }
    @descendent boxContainer-2 {
      lost-column: 2/3 3 0;
    }
  }
}
