section.edit {
  > section {
    > form {
      @apply --bordered-box;

      > h2 {
        @apply --header-title;
      }

      > table {
        @apply --form-table;
      }

      > footer {
        @apply --footer-action;
      }

      button {
        @apply --button;
        @apply --button-gray-primary;

        &.is-save {
          @apply --button-primary;
        }

        &.is-complete {
          @apply --button-white-success;
        }

        &.is-delete {
          @apply --button-gray-danger;
        }

        &.is-cancel {
          @apply --button-gray;
        }
      }

      ul {
        list-style: none;

        &.is-inline {
          > li {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (--over-tablet) {
  section.edit {
    lost-utility: clearfix;

    > section {
      lost-column: 1/3 0 0;

      &.double {
        lost-column: 2/3 0 0;
      }

      &.triple {
        lost-column: 3/3 0 0;
      }
    }
  }
}
