:root {
  --form-textbox: {
    appearance: none;
    border-radius: 0;
    border: 1px solid var(--color-border-gray);
    font-size: var(--font-size-medium);
    padding: 0.75rem;
  }

  --form-select: {
    cursor: pointer;
    appearance: none;
    background-color: white;
    border-radius: 0;
  }

  --form-button: {
    display: inline-block;
    cursor: pointer;
    border: 1px solid var(--color-border-gray);
    white-space: nowrap;
    margin: 0.1rem;
    text-decoration: none;
  }
  --form-button-gray: {
    border-color: var(--color-border-gray);
    background-color: var(--color-bg-gray);
    color: var(--color-fg-gray);

    &:hover {
      background-color: white;
    }
  }
  --form-button-white-primary: {
    border-color: var(--color-border-gray);
    background-color: var(--color-bg-white);
    color: var(--color-fg-gray);

    &:hover {
      color: var(--color-fg-white);
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }
  --form-button-gray-primary: {
    border-color: var(--color-border-gray);
    background-color: var(--color-bg-gray);
    color: var(--color-fg-gray);

    &:hover {
      color: var(--color-fg-white);
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }
  --form-button-gray-danger: {
    border-color: var(--color-border-gray);
    background-color: var(--color-bg-gray);
    color: var(--color-fg-gray);

    &:hover {
      color: var(--color-fg-white);
      background-color: var(--color-danger);
      border-color: var(--color-danger);
    }
  }
  --form-button-gray-danger-border: {
    border-color: var(--color-border-gray);
    background-color: var(--color-bg-gray);
    color: var(--color-fg-gray);

    &:hover {
      color: var(--color-danger);
      border-color: var(--color-danger);
      background-color: white;
    }
  }
  --form-button-white-danger-border: {
    border-color: var(--color-border-gray);
    background-color: white;
    color: var(--color-fg-gray);

    &:hover {
      color: var(--color-danger);
      border-color: var(--color-danger);
    }
  }
  --form-button-primary: {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-fg-white);

    &:hover {
      background-color: var(--color-danger);
      border-color: var(--color-danger);
    }
  }
  --form-button-success: {
    border-color: var(--color-success);
    background-color: var(--color-success);
    color: var(--color-fg-white);

    &:hover {
      background-color: var(--color-danger);
      border-color: var(--color-danger);
    }
  }
  --form-button-warning: {
    border-color: var(--color-warning);
    background-color: var(--color-warning);
    color: var(--color-fg-white);

    &:hover {
      background-color: var(--color-danger);
      border-color: var(--color-danger);
    }
  }
}
