:root {
  --cell-classes: {
    &.border-left {
      border-left: 1px solid var(--color-border-gray);
    }

    &.border-right {
      border-right: 1px solid var(--color-border-gray);
    }

    &.border-left-double {
      border-left: 3px double var(--color-border-gray);
    }

    &.border-right-double {
      border-right: 3px double var(--color-border-gray);
    }

    &.is-left {
      text-align: left;
    }

    &.is-right {
      text-align: right;
    }

    &.is-center {
      text-align: center;
    }

    &.is-top {
      vertical-align: top;
    }

    &.is-middle {
      vertical-align: middle;
    }

    &.is-bottom {
      vertical-align: bottom;
    }

    &.is-baseline {
      vertical-align: baseline;
    }
  }

  --list-nav-link: {
    display: inline-block;
    color: var(--color-fg-gray);
    border: 1px solid var(--color-border-gray);
    margin: 0.1em;
    padding: 0.5em 0.8em;
  }

  --list-nav-link-hover: {
    color: var(--color-danger);
    border-color: var(--color-danger);
  }

  --list-sort-link: {
    text-decoration: none;
    cursor: pointer;

    &.is-active {
      color: var(--color-danger);
    }
  }

  --list-data-button: {
    @apply --button;
    @apply --button-primary;

    &.is-delete {
      @apply --button-gray-danger;
    }

    &.is-cancel {
      @apply --button-gray;
    }

    &.is-edit {
      @apply --button-gray-primary;
    }
  }

  --list-search-button: {
    @apply --button;
    @apply --button-white-success;

    &.is-connecting {
      @apply --button-success-white;
    }

    &.is-error {
      @apply --button-danger;
    }

    &.is-delete {
      @apply --button-gray-danger;
    }

    &.is-save {
      @apply --button-primary;
    }

    &.is-send {
      @apply --button-white-primary;
    }

    &.is-cancel {
      @apply --button-gray;
    }
  }
}

section.list {
  ul {
    list-style: none;
    margin: 0;

    > li {
      margin: 0.5em;
      display: inline-block;
    }

    &.is-block {
      > li {
        display: block;
      }
    }
  }

  > section.data {
    > table,
    > form > table,
    > div > table,
    > div > form > table {
      margin: 0.5em 0;

      p.alert {
        text-align: center;
        margin: 0;
        padding: 1.5em;

        @apply --alert;
        @apply --alert-gray;
      }

      p {
        line-height: 1.5em;
      }

      thead {
        border-top: 1px solid var(--color-border-gray);
        border-bottom: 3px double var(--color-border-gray);

        tr.border-top-single {
          border-top: 1px solid var(--color-border-gray);
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid var(--color-border-gray);

          &.border-bottom-double {
            border-bottom: 3px double var(--color-border-gray);
          }
        }
      }

      tfoot {
        border-bottom: 3px double var(--color-border-gray);
      }

      th {
        @apply --cell-classes;

        font-size: var(--font-size-small);
        padding: 0.5rem;
        vertical-align: middle;
      }

      td {
        @apply --cell-classes;

        padding: 0.25em 0.5em;
        vertical-align: top;
      }
    }

    > table th a,
    > form > table th a {
      @apply --list-sort-link;
    }

    > nav > ul > li > a {
      @apply --list-nav-link;
    }

    > div > table th a,
    > div > form > table th a {
      @apply --list-sort-link;
    }

    > nav > ul > li > a:hover {
      @apply --list-nav-link-hover;
    }

    > nav {
      white-space: nowrap;
      text-align: right;

      > ul {
        text-align: right;

        > li {
          margin: 0;
          display: inline-block;

          &.is-ellipsis {
            > a {
              border: none;
              padding: 0.5em 0.1em;
            }
          }

          &.is-active {
            > a {
              color: var(--color-danger);
              border-color: var(--color-danger);
            }
          }
        }
      }
    }
  }

  > section.search {
    @apply --bordered-box;

    > form {
      > section {
        > table,
        > div > table {
          th {
            @apply --form-table-th;

            &.is-left {
              text-align: left;
            }

            &.is-right {
              text-align: right;
            }
          }

          td {
            @apply --form-table-td;
          }
        }
      }

      > footer {
        @apply --footer-action;

        position: relative;

        .progress {
          background-color: white;
          position: absolute;
          top: -0.6em;

          color: var(--color-primary);

          &.is-0 { left: 0; }

          &.is-1 { left: 1%; }
          &.is-2 { left: 2%; }
          &.is-3 { left: 3%; }
          &.is-4 { left: 4%; }
          &.is-5 { left: 5%; }
          &.is-6 { left: 6%; }
          &.is-7 { left: 7%; }
          &.is-8 { left: 8%; }
          &.is-9 { left: 9%; }

          &.is-10 { left: 10%; }
          &.is-11 { left: 11%; }
          &.is-12 { left: 12%; }
          &.is-13 { left: 13%; }
          &.is-14 { left: 14%; }
          &.is-15 { left: 15%; }
          &.is-16 { left: 16%; }
          &.is-17 { left: 17%; }
          &.is-18 { left: 18%; }
          &.is-19 { left: 19%; }

          &.is-20 { left: 20%; }
          &.is-21 { left: 21%; }
          &.is-22 { left: 22%; }
          &.is-23 { left: 23%; }
          &.is-24 { left: 24%; }
          &.is-25 { left: 25%; }
          &.is-26 { left: 26%; }
          &.is-27 { left: 27%; }
          &.is-28 { left: 28%; }
          &.is-29 { left: 29%; }

          &.is-30 { left: 30%; }
          &.is-31 { left: 31%; }
          &.is-32 { left: 32%; }
          &.is-33 { left: 33%; }
          &.is-34 { left: 34%; }
          &.is-35 { left: 35%; }
          &.is-36 { left: 36%; }
          &.is-37 { left: 37%; }
          &.is-38 { left: 38%; }
          &.is-39 { left: 39%; }

          &.is-40 { left: 40%; }
          &.is-41 { left: 41%; }
          &.is-42 { left: 42%; }
          &.is-43 { left: 43%; }
          &.is-44 { left: 44%; }
          &.is-45 { left: 45%; }
          &.is-46 { left: 46%; }
          &.is-47 { left: 47%; }
          &.is-48 { left: 48%; }
          &.is-49 { left: 49%; }

          &.is-50 { right: 50%; }

          &.is-51 { right: 49%; }
          &.is-52 { right: 48%; }
          &.is-53 { right: 47%; }
          &.is-54 { right: 46%; }
          &.is-55 { right: 45%; }
          &.is-56 { right: 44%; }
          &.is-57 { right: 43%; }
          &.is-58 { right: 42%; }
          &.is-59 { right: 41%; }
          &.is-60 { right: 40%; }

          &.is-61 { right: 39%; }
          &.is-62 { right: 38%; }
          &.is-63 { right: 37%; }
          &.is-64 { right: 36%; }
          &.is-65 { right: 35%; }
          &.is-66 { right: 34%; }
          &.is-67 { right: 33%; }
          &.is-68 { right: 32%; }
          &.is-69 { right: 31%; }
          &.is-70 { right: 30%; }

          &.is-71 { right: 29%; }
          &.is-72 { right: 28%; }
          &.is-73 { right: 27%; }
          &.is-74 { right: 26%; }
          &.is-75 { right: 25%; }
          &.is-76 { right: 24%; }
          &.is-77 { right: 23%; }
          &.is-78 { right: 22%; }
          &.is-79 { right: 21%; }
          &.is-80 { right: 20%; }

          &.is-81 { right: 19%; }
          &.is-82 { right: 18%; }
          &.is-83 { right: 17%; }
          &.is-84 { right: 16%; }
          &.is-85 { right: 15%; }
          &.is-86 { right: 14%; }
          &.is-87 { right: 13%; }
          &.is-88 { right: 12%; }
          &.is-89 { right: 11%; }
          &.is-90 { right: 10%; }

          &.is-91 { right: 9%; }
          &.is-92 { right: 8%; }
          &.is-93 { right: 7%; }
          &.is-94 { right: 6%; }
          &.is-95 { right: 5%; }
          &.is-96 { right: 4%; }
          &.is-97 { right: 3%; }
          &.is-98 { right: 2%; }
          &.is-99 { right: 1%; }

          &.is-100 { right: 0; }
        }
      }
    }
  }

  > section.data > table button,
  > section.data > form > table button {
    @apply --list-data-button;
  }

  > section.search > form > footer > button {
    @apply --list-search-button;
  }

  > section.data > div > table button,
  > section.data > div > form > table button {
    @apply --list-data-button;
  }
}

@media (--all-mobile) {
  section.list {
    > section.data > div {
      overflow: auto;
    }
  }
}
@media (--over-tablet) {
  section.list {
    > section.search {
      > form {
        > section > div,
        > section > table {
          float: left;
        }

        > footer {
          clear: both;
        }
      }
    }
  }
}
