:root {
  --listPage-search-box: {
    border: 1px solid var(--color-border-gray);
    border-radius: 0.2rem;
    padding: 0.5rem;
  }
}
@component listPage {
  @descendent search {
    @descendent form {
      @apply --listPage-search-box;

      margin: 0 0.5rem 0.5rem;
      font-size: var(--font-size-small);
    }
    @descendent note {
      font-size: var(--font-size-small);
      margin: 0.5rem;
    }

    @descendent header {
      font-weight: normal;
      text-align: right;
      padding-right: 0.2rem;
      @util truncate;
    }
    @descendent field {
      border: 1px solid var(--color-border-gray);
      padding: 0.2rem;
      margin: 0.1rem;
      width: 8rem;

      @when tiny {
        width: 4rem;
      }
      @when small {
        width: 6rem;
      }
      @when large {
        width: 10rem;
      }
      @when date {
        width: 8rem;
      }
      @when time {
        width: 4.5rem;
      }
    }
    @descendent select {
      @apply --form-select;
      border: 1px solid var(--color-border-gray);
      padding: 0.1rem 0.5rem;
      margin: 0.1rem;
      width: 9rem;

      @when tiny {
        width: 4rem;
      }
      @when small {
        width: 6rem;
      }
      @when large {
        width: 10rem;
      }
    }
    @descendent checkbox {
      display: inline-block;
      padding: 0.2rem;
    }
    @descendent button {
      @apply --form-button;
      @apply --form-button-gray;

      @when modified {
        @apply --form-button-primary;
      }
    }
    @descendent action {
      border-top: 1px solid var(--color-border-gray);
      padding-top: 0.5rem;
      margin-top: 0.5rem;
    }
    @descendent params {
      @apply --listPage-search-box;

      margin: 0 0.5rem 0.5rem;

      @descendent header {
        font-weight: normal;
        border-bottom: 1px solid var(--color-border-gray);
        padding: 0.5rem 0 0.2rem 0.5rem;
        margin-bottom: 0.5rem;
      }
      @descendent table {
        margin: 0.5rem 0.5rem 0;
      }
      @descendent label {
        font-weight: normal;
        text-align: right;
        padding: 0.2rem;
        @util truncate;
      }
      @descendent value {
        padding: 0.2rem;
      }
    }
  }
  @descendent listContainer {
    @util clearfix;
    margin: 0.5rem;
  }
  @descendent pages {
    float: left;

    @descendent item {
      list-style: none;
      margin: 0.2rem;
    }
    @descendent link {
      @apply --form-button;
      @apply --form-button-gray-danger-border;

      display: block;
      text-decoration: none;
      padding: 0.25rem 0;
      text-align: center;
      width: 3.5rem;
      font-size: var(--font-size-large);

      @when active {
        @apply --form-button-white-danger-border;
      }
    }
  }
  @descendent tableContainer {
    width: calc(99.9% - 4.5rem);
    float: right;
    overflow-x: auto;
  }
  @descendent table {
    margin: 0.5rem;
    width: 100%;

    @descendent header {
      border-top: 1px solid var(--color-border-gray);
      border-bottom: 3px double var(--color-border-gray);

      @descendent cell {
        font-size: var(--font-size-small);
        padding: 0.5rem;
      }
    }
    @descendent sort {
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: var(--color-danger);
      }

      @when active {
        color: var(--color-danger);
      }
    }
    @descendent row {
      border-bottom: 1px solid var(--color-border-gray);

      @descendent cell {
        padding: 0.5rem 0.25rem;
        white-space: nowrap;
        vertical-align: top;

        @when center {
          text-align: center;
        }
        @when right {
          text-align: right;
        }
      }

      @when deleted {
        background-color: var(--color-bg-gray);
      }
    }
    @descendent field {
      font-size: var(--font-size-small);
      border: 1px solid var(--color-border-gray);
      padding: 0.2rem;
      margin: 0.05rem;
      width: 10rem;

      @when tiny {
        width: 4rem;

        @when error {
          border-color: var(--color-danger);
        }
        @when warning {
          border-color: var(--color-warning);
        }
      }
      @when small {
        width: 6rem;

        @when error {
          border-color: var(--color-danger);
        }
        @when warning {
          border-color: var(--color-warning);
        }
      }
      @when large {
        width: 16rem;

        @when error {
          border-color: var(--color-danger);
        }
        @when warning {
          border-color: var(--color-warning);
        }
      }
      @when date {
        width: 8rem;

        @when error {
          border-color: var(--color-danger);
        }
        @when warning {
          border-color: var(--color-warning);
        }
      }
      @when time {
        width: 4.5rem;

        @when error {
          border-color: var(--color-danger);
        }
        @when warning {
          border-color: var(--color-warning);
        }
      }

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }

      @descendent error {
        font-size: var(--font-size-small);
        margin: 0.3rem 0.5rem 0.2rem 0.2rem;
        color: var(--color-danger);

        @when warning {
          color: var(--color-warning);
        }
      }
    }
    @descendent select {
      @apply --form-select;

      font-size: var(--font-size-small);
      border: 1px solid var(--color-border-gray);
      padding: 0.1rem 0.5rem;
      margin: 0.1rem;
      width: 9rem;

      @when tiny {
        width: 4rem;

        @when error {
          border-color: var(--color-danger);
        }
        @when warning {
          border-color: var(--color-warning);
        }
      }
      @when small {
        width: 6rem;

        @when error {
          border-color: var(--color-danger);
        }
        @when warning {
          border-color: var(--color-warning);
        }
      }
      @when large {
        width: 16rem;

        @when error {
          border-color: var(--color-danger);
        }
        @when warning {
          border-color: var(--color-warning);
        }
      }

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }
    @descendent button {
      @apply --form-button;

      @when edit {
        @apply --form-button-gray-primary;
      }
      @when delete {
        @apply --form-button-gray-danger;
      }
      @when delete-confirm {
        @apply --form-button-gray-danger;
      }
      @when save {
        @apply --form-button-gray;

        @when modified {
          @apply --form-button-primary;
        }
      }
      @when cancel {
        @apply --form-button-gray;
      }
      @when revert {
        @apply --form-button-white-primary;
      }
    }
    @descendent action {
      display: inline-block;
      border-radius: 0.3rem;
      font-size: var(--font-size-small);
      padding: 0.3rem 0.7rem;

      @when connecting {
        background-color: var(--color-primary);
        color: var(--color-fg-white);
      }
      @when error {
        background-color: var(--color-danger);
        color: var(--color-fg-white);
      }
    }
    @descendent status {
      display: inline-block;
      margin: 0.1rem;
      padding: 0.3rem 0.6rem;
      border-radius: 0.25rem;
      font-size: var(--font-size-small);

      @when gray {
        background-color: var(--color-bg-gray);
      }
      @when warning {
        color: var(--color-fg-white);
        background-color: var(--color-warning);
      }
      @when primary {
        color: var(--color-fg-white);
        background-color: var(--color-primary);
      }
      @when success {
        color: var(--color-fg-white);
        background-color: var(--color-success);
      }
    }
  }
}

@media (--all-mobile) {
  @component listPage {
    @descendent search {
      @descendent field {
        padding: 0.5rem;
      }
      @descendent select {
        padding: 0.5rem 1rem;
      }
      @descendent button {
        padding: 0.5rem 1rem;
      }
    }
    @descendent table {
      @descendent field {
        padding: 0.5rem;
      }
      @descendent select {
        padding: 0.5rem 1rem;
      }
      @descendent button {
        padding: 0.5rem 1rem;
      }
    }
  }
}
@media (--over-tablet) {
  @component listPage {
    @descendent search {
      lost-utility: clearfix;

      @descendent formContainer {
        lost-column: 1/2 0 0;

        &:nth-child(1n) {
          float: right !important;
        }
      }
      @descendent paramsContainer {
        lost-column: 1/2 0 0;
      }
    }
  }
}
