.LoginLayout {
  > article {
    > header {
      text-align: center;
      padding: 1rem;

      > p {
        font-size: var(--font-size-xxlarge);

        > small {
          font-size: var(--font-size-xlarge);
        }
      }
    }

    > section {
      text-align: center;

      > p {
        text-align: center;
        margin: 1em 2em;
        padding: 1.5em;

        @apply --alert;
        @apply --alert-danger;

        &.is-gray {
          @apply --alert-gray;
        }

        &.is-success {
          @apply --alert-success;
        }
      }

      > form {
        > p {
          text-align: right;
          margin: 1em 2em;
        }

        input[type=text],
        input[type=email],
        input[type=password] {
          width: 60%;
          font-size: var(--font-size-medium);
        }

        button {
          font-size: var(--font-size-medium);
          display: block;
          width: 30%;
          height: 3em;

          @apply --button;
          @apply --button-primary;
        }
      }
    }
  }

  > footer {
    font-size: var(--font-size-small);
  }
}

@media (--over-tablet) {
  .LoginLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > article {
      @apply --bordered-box;
      min-width: var(--login-size);
    }
  }
}
