:root {
  --loginPage-border: {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-border-gray);
    border-radius: 0.5rem;
  }

  --loginPage-side-margin: 3rem;
}

@component loginPage {
  @descendent titleContainer {
    margin: 6rem var(--loginPage-side-margin) 3rem;
    text-align: center;
  }
  @descendent title {
    margin-bottom: 1rem;
    font-size: var(--font-size-xxlarge);
  }
  @descendent subTitle {
    font-size: var(--font-size-xlarge);
    margin-bottom: 1rem;
  }
  @descendent alert {
    margin: -2rem var(--loginPage-side-margin) 0 var(--loginPage-side-margin);
    padding: 1.5rem;
    border-radius: 0.25rem;
    text-align: center;
    background-color: var(--color-danger);
    color: var(--color-fg-white);

    @when gray {
      background-color: var(--color-bg-gray);
      color: var(--color-fg-gray);
    }
  }
  @descendent form {
    margin: 1rem 0;
  }
  @descendent row {
    text-align: right;
    white-space: nowrap;
    margin: 0 var(--loginPage-side-margin);

    @when button {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
  @descendent textbox {
    @apply --form-textbox;
    margin: 0.5rem 0 0.5rem 0.5rem;
    width: 65%;
  }
  @descendent checkbox {
    margin: 0.5rem 0 0.5rem 0.5rem;
    cursor: pointer;
  }
  @descendent checkboxLabel {
    cursor: pointer;
  }
  @descendent button {
    @apply --form-button;
    @apply --form-button-primary;
    font-size: var(--font-size-medium);
    padding: 0.75rem 4rem;
    margin: 0.5rem 0;
  }
  @descendent link {
    @apply --link-primary;
  }
}

@media (--phone) {
  @component loginPage {
    width: 100%;
  }
}
@media (--over-tablet) {
  @component loginPage {
    position: fixed;
    margin-top: 15vh;

    @apply --loginPage-border;
  }
}
@media (--tablet) {
  @component loginPage {
    lost-column: 6/8;
    lost-offset: 1/8;
  }
}
@media (--desktop) {
  @component loginPage {
    lost-column: 4/6;
    lost-offset: 1/6;
  }
}
@media (--large-desktop) {
  @component loginPage {
    lost-column: 2/4;
    lost-offset: 1/4;
  }
}
