:root {
  --main-logo: {
    background-color: var(--color-primary);
    color: var(--color-fg-white);
    text-align: center;
    padding: 1rem;
  }
}

.MainLayout {
  > header,
  > nav > header {
    @apply --main-logo;
  }

  > header > p,
  > nav > header > p,
  > article > header > h1 {
    font-size: var(--font-size-xlarge);

    > small {
      font-size: var(--font-size-large);

      > small {
        font-size: var(--font-size-medium);
      }
    }
  }

  > address {
    display: flex;
    font-style: normal;

    background-color: var(--color-bg-white);
    @apply --bordered-box;

    > ul,
    > a > ul {
      list-style: none;
      padding: 0 0.5em;

      .success {
        color: var(--color-success);
      }

      .primary {
        color: var(--color-primary);
      }

      .gray {
        color: var(--color-fg-lightgray);
      }

      > li {
        display: inline-block;
        margin: 0.25em;
      }
    }

    > footer {
      flex-grow: 1;
      text-align: right;
    }
  }

  > article {
    > header {
      margin: 0.5em;

      > h1 {
        @apply --header-title;
      }

      > ul {
        list-style: none;
        text-align: right;

        > li {
          display: inline-block;
          margin: 0 0.25em 0 0;

          &::before {
            content: ">>\00a0\00a0";
          }

          &:first-child::before {
            content: "";
          }
        }
      }
    }

    > section {
      margin: 0.5em;
    }

    > footer {
      margin: 0.5em;

      > p {
        margin-top: 0.5em;
        padding-top: 0.5em;
        text-align: right;
        border-top: 1px solid var(--color-border-gray);
        font-size: var(--font-size-xsmall);
      }
    }
  }

  > nav {
    background-color: var(--color-bg-gray);

    > section {
      > ul {
        list-style: none;
        margin: 0.5em;
        padding: 0.5em;
        border-top: 3px double var(--color-border-gray);
        line-height: 1.5em;

        &.is-collapsed {
          margin-bottom: 0;
          padding-bottom: 0;
        }

        > li {
          display: block;

          a {
            display: block;
          }

          > b > a {
            color: var(--color-fg-gray);
          }

          &.is-active > a,
          &:hover > b > a {
            color: var(--color-danger);
          }

          em.badge {
            line-height: 1em;
          }
        }
      }
    }

    > footer {
      font-size: var(--font-size-xsmall);

      > p {
        margin: 1em;
      }
    }

    > address {
      font-style: normal;

      background-color: var(--color-bg-white);
      @apply --bordered-box;

      > ul,
      > a > ul {
        list-style: none;
        padding: 0 0.5em;

        .success {
          color: var(--color-success);
        }

        .primary {
          color: var(--color-primary);
        }

        .gray {
          color: var(--color-fg-lightgray);
        }

        > li {
          margin: 0.25em 0;
        }
      }

      > footer {
        text-align: right;
        @apply --footer-action;
      }
    }

    > section > ul.is-collapsed + ul.is-collapsed {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

@media (--all-desktop) {
  .MainLayout {
    > article {
      float: right;
      width: calc(100vw - var(--menu-size));
    }

    > nav {
      width: var(--menu-size);
      padding-bottom: 0.5em;
    }

    > header,
    > address {
      display: none;
    }
  }
}

@media (--all-mobile) {
  .MainLayout {
    > nav {
      > header,
      > address {
        display: none;
      }

      > section > ul > li {
        line-height: 2em;
      }
    }
  }
}
