@component notfound {
  @descendent icon {
    font-size: var(--font-size-xxlarge);
    color: var(--color-warning);
    vertical-align: middle;
  }
  @descendent title {
    font-size: var(--font-size-xlarge);
    margin: 0.5rem 0 1rem 1rem;
  }
  @descendent messages {
    margin: 2rem;
  }
  @descendent message {
    margin: 1rem 2rem;
  }
  @descendent button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-warning);
    color: var(--color-fg-white);
    padding: 1rem 2rem;
  }
}
