section.notfound {
  > h2 {
    font-size: var(--font-size-xlarge);
    margin: 0.5rem 0 1rem 1rem;

    > i {
      color: var(--color-warning);
      font-size: var(--font-size-xxlarge);
      vertical-align: middle;
    }
  }

  > p {
    margin: 3em 6em;
  }

  > form {
    margin: 3em 6em;

    > button {
      font-size: var(--font-size-large);
      padding: 0.5em 1em;

      @apply --form-button;
      @apply --form-button-warning;
    }
  }
}
