section.notfound {
  > h2 {
    font-size: var(--font-size-xlarge);
    color: var(--color-warning);
    margin: 0.5rem 0 1rem 1rem;
  }

  > p {
    margin: 3em 6em;
    line-height: 1.5em;
  }

  > form {
    margin: 3em 6em;

    > button {
      font-size: var(--font-size-large);
      padding: 0.5em 1em;

      @apply --button;
      @apply --button-warning;
    }
  }
}
