@component profilePage {
  @descendent profile {
    border: 1px solid var(--color-border-gray);
    border-radius: 0.2rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  @descendent action {
    border-top: 1px solid var(--color-border-gray);
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
  @descendent header {
    font-weight: normal;
    font-size: var(--font-size-small);
    padding: 0.5rem;
    white-space: nowrap;
  }
  @descendent cell {
    padding: 0.3rem;
  }
  @descendent button {
    @apply --form-button;

    @when edit {
      @apply --form-button-gray-primary;
    }
    @when save {
      @apply --form-button-gray;

      @when modified {
        @apply --form-button-primary;
      }
    }
    @when cancel {
      @apply --form-button-gray;
    }
    @when logout {
      @apply --form-button-gray-danger;
    }
  }
  @descendent field {
    font-size: var(--font-size-medium);
    border: 1px solid var(--color-border-gray);
    padding: 0.2rem 0.4rem;
    margin: 0.1rem;
    width: 12rem;

    @when small {
      width: 8rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }
    @when large {
      width: 16rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }

    @when error {
      border-color: var(--color-danger);
    }
    @when warning {
      border-color: var(--color-warning);
    }

    @descendent error {
      font-size: var(--font-size-small);
      margin: 0.3rem 0.5rem 0.2rem 0.2rem;
      color: var(--color-danger);

      @when warning {
        color: var(--color-warning);
      }
    }
  }
  @descendent select {
    @apply --form-select;
    font-size: var(--font-size-medium);
    border: 1px solid var(--color-border-gray);
    padding: 0.1rem 0.5rem;
    margin: 0.1rem;
    width: 9rem;

    @when small {
      width: 7rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }
    @when large {
      width: 12rem;

      @when error {
        border-color: var(--color-danger);
      }
      @when warning {
        border-color: var(--color-warning);
      }
    }

    @when error {
      border-color: var(--color-danger);
    }
    @when warning {
      border-color: var(--color-warning);
    }
  }
  @descendent guide {
    border: 1px solid var(--color-border-gray);
    border-radius: 0.2rem;
    margin: 0.5rem;
    padding: 0.5rem;

    @descendent title {
      font-size: var(--font-size-large);
      margin: 0.5rem 0;
      padding: 0 0.5rem 0.5rem;
      border-bottom: 1px solid var(--color-border-gray);
    }
    @descendent content {
      padding: 0.5rem;
    }
  }
}

@media (--all-mobile) {
  @component profilePage {
    @descendent field {
      padding: 0.5rem;
    }
    @descendent button {
      padding: 0.5rem 1rem;
    }
  }
}
@media (--large-desktop) {
  @component profilePage {
    lost-utility: clearfix;

    @descendent profileContainer {
      lost-column: 1/3 0 0;
    }
    @descendent guideContainer {
      lost-column: 2/3 0 0;
    }
  }
}
