section.profile {
  > section {
    > section {
      @apply --bordered-box;

      button {
        @apply --button;
        @apply --button-gray-primary;

        &.is-save {
          @apply --button-primary;
        }

        &.is-cancel {
          @apply --button-gray;
        }
      }

      > form {
        > h2 {
          @apply --header-title;
        }

        > table {
          th {
            @apply --form-table-th;
          }

          td {
            @apply --form-table-td;
          }

          input {
            width: 18em;
          }
        }

        > footer {
          @apply --footer-action;
          font-size: var(--font-size-small);
        }
      }
    }
  }

  > aside {
    > section {
      @apply --bordered-box;

      > h2 {
        font-size: var(--font-size-large);
        @apply --header-title;
      }

      > dl {
        margin: 0.5em;

        > dt {
          margin-top: 1em;
          margin-bottom: 0.5em;

          > b {
            font-size: var(--font-size-large);
            color: var(--color-primary);
          }
        }

        > dd {
          margin-bottom: 1em;

          > b {
            font-size: var(--font-size-large);
            color: var(--color-danger);
          }

          > p {
            margin-left: 0.5em;
            line-height: 1.25em;
          }
        }
      }
    }
  }
}

@media (--all-desktop) {
  section.profile {
    display: grid;
    grid:
      "form  faq" 1fr
     / var(--box-size) 1fr;
  }
}
