.search {
  width: var(--width-search);
  margin-right: 0.25rem;
}

.search.search_double {
  width: var(--width-search-double);
  margin-right: 0.25rem;
}

.search__header {
  font-size: var(--font-size-small);
  margin-bottom: 0.25rem;
}

.search__field {
  margin-left: 1rem;
}

.search__help,
.search__message {
  font-size: var(--font-size-small);
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}

.search_use .search__header {
  font-weight: bold;
  color: var(--color-base);
}

.search_use .input__radio.search_checked,
.search_use .input__checkbox.search_checked {
  font-weight: bold;
  color: var(--color-base);
}

.search_error .search__message {
  color: var(--color-alert);
}

.search__column {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search__column .input__checkbox.search__column_active {
  font-weight: bold;
}
