:root {
  --font-size-large: calc(var(--font-size-medium) * 1.616);
  --font-size-medium: calc(var(--font-size-normal) * 1.616);
  --font-size-normal: 18px;
  --font-size-small: calc(var(--font-size-normal) / 1.616);

  --font-size-larger: 161.6%;
  --font-size-smaller: 61.8%;

  --width-menu: 16rem;
  --width-box: 20rem;
  --width-box-double: calc(41.5rem + 2px);

  --width-input-tiny: 4em;
  --width-input-small: 6em;
  --width-input-normal: 10em;
  --width-input-medium: 14em;
  --width-input-large: 18em;
  --width-input-xlarge: 22em;
  --width-input-xxlarge: 26em;
}
