.text-pre-wrap {
  white-space: pre-wrap;
  line-height: 1.4em;
}

.text-no-wrap {
  white-space: nowrap;
}

.text-primary {
  color: var(--color-primary);
}

.text-danger {
  color: var(--color-danger);
}

.text-warning {
  color: var(--color-warning);
}

.text-success {
  color: var(--color-success);
}
