.menu {
    background-color: var(--color-black-off);
}

.menu__box {
    padding: 0.5rem;
    background-color: var(--color-white);
    border-bottom: 1px dotted var(--color-black);
}

.menu__body {
    background-color: var(--color-black-off);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.menu__nav {
    margin-top: var(--content-vertical-space-small);
}

.menu__nav .menu__nav {
    margin-top: 0;
}

.menu__nav__items {
    margin-left: 0.5em;
}

.menu__nav__summary {
    cursor: pointer;

    padding: calc(0.4em - 1px) 0.5em;
    border: 1px dotted transparent;
    border-radius: 0.5rem;

    align-items: center;
}

.menu__nav__summary__container {
    display: inline-flex;
    width: calc(100% - 1.1em);
}

.menu__nav__summary__label {
    flex-grow: 1;
    display: inline-block;
}

.menu__nav__summary__badge {
    display: inline-block;
}

.menu__nav__summary:hover {
    color: var(--color-base);
    border-color: var(--color-base);
    background-color: var(--color-white-pure);
}

.menu__nav__item {
    font-size: var(--font-size-larger);
}

.menu__nav__link {
    display: flex;
    padding: calc(0.4em - 1px) 0.5em;
}

.menu__nav__item__label {
    flex-grow: 1;
    display: inline-block;
}

.menu__nav__item__badge {
    display: inline-block;
}

.menu__nav__item_active {
    color: var(--color-base);

    border-color: var(--color-base);
    background-color: var(--color-white);
}

.menu__footer {
    background-color: var(--color-black-off);
    border-top: 1px dotted var(--color-black);
    padding: var(--content-vertical-space-tiny) 0.5rem;
}

.menu__footer__message {
    font-size: var(--font-size-small);
}

@media (--media-desktop) {
    .menu {
        flex-shrink: 0;
        position: sticky;
        top: 0;
        width: var(--width-menu);
        height: 100vh;
        overflow-y: auto;

        border-right: 1px dotted var(--color-black);

        display: flex;
        flex-direction: column;
    }

    .menu__body {
        flex-grow: 1;
        overflow-y: auto;
    }
}

@media (--media-mobile) {
    .menu__box {
        border-top: 1px dotted var(--color-black);
    }

    .menu__box + .menu__box {
        border-top: none;
    }

    .menu__nav {
        margin-right: 0.5rem;
    }

    .menu__nav__items {
        margin-top: 0.4rem;
    }

    .menu__footer {
        margin-top: var(--content-vertical-space-tiny);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media (--media-tablet) {
    .menu__body {
        display: flex;
        flex-wrap: wrap;
    }

    .menu__nav {
        flex-shrink: 0;
        width: var(--width-menu);
    }
}

@media (--media-shallow) {
    .menu__nav {
        margin-right: 0;
    }
}

@media (--media-sidebar-enabled) and (--media-mobile) {
    .layout__app__sidebar_single .menu__body {
        margin-right: var(--width-sidebar-single);
    }

    .layout__app__sidebar_double .menu__body {
        margin-right: var(--width-sidebar-double);
    }
}
