.menu {
    background-color: var(--color-black-off);
}

.menu__header {
    background-color: var(--color-base);
    color: var(--color-white);

    padding: 0.5rem;
}

.menu__brand {
    font-size: var(--font-size-large);
}

.menu__title {
    font-size: var(--font-size-xx-large);
}

.menu__box {
    padding: 0.5rem;

    border-bottom: 1px dotted var(--color-black);

    background-color: var(--color-white);
}

.menu__nav {
    padding-left: 0.25em;
    margin-top: var(--content-vertical-space-small);
}

.menu__nav__items {
    margin-left: 0.5em;
}

.menu__nav__summary {
    display: flex;
    cursor: pointer;

    padding: calc(0.4em - 1px) 0.5em;
    border: 1px dotted transparent;
    border-radius: 0.5rem;

    align-items: center;
}

.menu__nav__summary__label {
    flex-grow: 1;
    display: inline-block;
}

.menu__nav__summary__badge {
    display: inline-block;
}

.menu__nav__summary:hover {
    color: var(--color-base);
    border-color: var(--color-base);
    background-color: var(--color-white-pure);
}

.menu__nav__item {
    font-size: var(--font-size-larger);
}

.menu__nav__link {
    display: flex;
    padding: calc(0.4em - 1px) 0.5em;
}

.menu__nav__item__label {
    flex-grow: 1;
    display: inline-block;
}

.menu__nav__item__badge {
    display: inline-block;
}

.menu__nav__item_active {
    color: var(--color-base);

    border-color: var(--color-base);
    background-color: var(--color-white);
}

.menu__footer {
    border-top: 1px dotted var(--color-black);

    padding-top: var(--content-vertical-space-tiny);
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    margin-top: var(--content-vertical-space-tiny);
    margin-bottom: var(--content-vertical-space-tiny);
}

.menu__footer__message {
    text-align: right;
    font-size: var(--font-size-small);
}

@media (--media-desktop) {
    .menu {
        width: var(--width-menu);
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;

        overflow-y: auto;

        border-right: 1px dotted var(--color-black);

        display: flex;
        flex-direction: column;
    }

    .menu__body {
        flex-grow: 1;
        overflow-y: auto;
        padding-right: 0.5rem;
    }

    .menu__brand,
    .menu__title,
    .menu__subTitle {
        display: block;
    }
}

@media (--media-mobile) {
    .menu__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .menu__brand,
    .menu__title,
    .menu__subTitle {
        display: inline-block;
        margin-right: 0.5rem;
    }

    .menu__body {
        margin-right: 0.5rem;
    }

    .menu__box {
        border-top: 1px dotted var(--color-black);
    }

    .menu__box + .menu__box {
        border-top: none;
    }

    .menu__nav__items {
        margin-top: 0.4rem;
        margin-left: 1rem;
    }

    .menu__footer {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media (--media-tablet) {
    .menu__body {
        display: flex;
        flex-wrap: wrap;
    }

    .menu__nav {
        width: var(--width-menu);
    }
}

@media (--media-shallow) {
    .menu__header {
        white-space: nowrap;
        overflow: hidden;
    }

    .menu__subTitle {
        display: block;
    }
}

@media (--media-sidebar-enabled) and (--media-mobile) {
    .menu__header {
        right: var(--width-box);
    }

    .menu__body {
        margin-right: var(--width-box);
    }
}
