.vertical {
    display: block;
}

.vertical_small {
    height: var(--content-vertical-space-small);
}

.vertical_medium {
    height: var(--content-vertical-space-medium);
}

.vertical_large {
    height: var(--content-vertical-space-large);
}
