.label {
    display: inline-block;
    cursor: default;

    font-size: var(--font-size-smaller);

    padding: calc(0.1875em - 2px) 0.75em;
    border: 1px solid transparent;

    vertical-align: middle;
    white-space: nowrap;
}

.label_gray {
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-black-off);
}

.label_alert {
    color: var(--color-alert);
    border-color: var(--color-alert);
    background-color: var(--color-alert-off);
}

.label_success {
    color: var(--color-success);
    border-color: var(--color-success);
    background-color: var(--color-success-off);
}

.label_warning {
    color: var(--color-warning);
    border-color: var(--color-warning);
    background-color: var(--color-warning-off);
}

.label_pending {
    color: var(--color-pending);
    border-color: var(--color-pending);
    background-color: var(--color-pending-off);
}

.label_info {
    color: var(--color-base);
    border-color: var(--color-base);
    background-color: var(--color-base-off);
}
