.notice {
    display: block;

    padding: 0.65em 0.75em;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

.notice + .notice {
    margin-top: 0.25em;
}

.notice_gray {
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-black-off);
}

.notice_alert {
    color: var(--color-alert);
    border-color: var(--color-alert);
    background-color: var(--color-alert-off);
}

.notice_success {
    color: var(--color-success);
    border-color: var(--color-success);
    background-color: var(--color-success-off);
}

.notice_warning {
    color: var(--color-warning);
    border-color: var(--color-warning);
    background-color: var(--color-warning-off);
}

.notice_pending {
    color: var(--color-pending);
    border-color: var(--color-pending);
    background-color: var(--color-pending-off);
}

.notice_info {
    color: var(--color-base);
    border-color: var(--color-base);
    background-color: var(--color-base-off);
}
